<div class="container mt-5">
    <div class="card">
        <div class="card-header">Sort By 
            <span class="float-right"> <a routerLink="/login" >Logout</a></span>
        </div>
        <div class="card-body"  style="background-color: #cacaca;">
            <div class="row">

                <div class="col-12 mb-3">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-3" style="cursor: pointer;" >
                                <div class="card text-center" tabindex="1" (click)="filterByDepatureTime()">
                                    Departure
                                    
                                </div>
                            </div>
                            <div class="col-3" style="cursor: pointer;" >
                                <div class="card text-center"  tabindex="2" (click)="filterDuration()">
                                    Duration
                                </div>
                            </div>
                            <div class="col-3" style="cursor: pointer;" >
                                <div class="card text-center"  tabindex="3" (click)="filterArrival()">
                                    Arrival
                                </div>
                            </div>
                            <div class="col-3" style="cursor: pointer;" >
                                <div class="card text-center" tabindex="4" (click)="filterPrice()">
                                    Price
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-12 mb-3" *ngFor="let data of sample">
                    <div class="card-body bg-white ">
                        <div class="col-12 mb-3">
                            <img width="80px;" src="{{url}}{{data.Logo}}" alt="">&nbsp;&nbsp;<span>{{data.flightName}}</span>
                        </div>

                        <div class="col-12 ">
                            <table class="table">
                               
                                <tr>
                                  <td> <small>{{data.From_location}}</small><br>{{data.departure_time}}</td>
                                  <td> <br><strong>{{data.duration}}</strong></td>
                                  <td><small>{{data.To_location}}</small><br>{{data.arrival_time}}</td>
                                  <td><br>{{data.Price}}<br><small>No Coat EMI from {{data.Emi}}</small></td>
                                  <td class="text-right"><br><button class="btn btn-warning">Book</button></td><br>
                                
                                </tr>
                              </table>
                                            
                        </div>

                        <div class="row"> 
                            <div class="col-6 text-left">
                                <h6>Price Refundable</h6>
                           </div>

                           <div class="col-6 text-right">
                            <h6>Flight Details</h6>

                           </div>
                        </div>

                       
                    </div>
                </div>


             

            </div>
        </div> 

      </div>

</div>










