<div class="container pt-3">
    <div class="row justify-content-sm-center">
      <div class="col-sm-6 col-md-4">
  
        <div class="card border-info text-center">
          <div class="card-header">
            Sign in to continue
          </div>
          <div class="card-body">
          
            <form class="form-signin" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                
                    <input type="text" formControlName="email" class="form-control" placeholder="Enter Your Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
                <div class="form-group">
               
                    <input type="password" formControlName="password" class="form-control" placeholder="Enter Your Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                </div>
                <button class="btn btn-primary">Login</button>
                     
            </form>
          </div>
        </div>
      
      </div>
    </div>
  </div>